body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1414609245224-afa02bfb3fda?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60");
    background-size:100% 100%;  
    background-repeat:no-repeat;
    overflow: hidden;
    
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: #816D57;
    opacity: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px; 
    background: #24201E;
    opacity: 0.8 ;
}

.clock #ampm{
    margin-top: 79px;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: #D07924;
}